{% extends '@MainMain/index.html.twig' %}

{% block title %}
    Аккаунт
{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding-left: 0;">
        <div class="row">
            <div class="col-lg-12">
                <h3>Ваш аккаунт</h3><br>

                <!-- List of tabs -->

                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="{% if (zm is not defined) and (mes is not defined) %}active{% endif %}" role="presentation">
                        <a id="home-tab" aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" href="#home">Общая информаци</a>
                    </li>

                    <li class="" role="presentation">
                        <a id="changeProfile-tab" aria-controls="changeProfile" data-toggle="tab" role="tab" href="#changeProfile" aria-expanded="false">Изменить личные данные</a>
                    </li>

                    <li class="{% if mes is defined %}active{% endif %}" role="presentation">
                        <a id="settings-tab" aria-controls="settings" data-toggle="tab" role="tab" href="#settings" aria-expanded="false">Настройки</a>
                    </li>

                </ul>

                <!-- End list of tabs -->

                <!-- Content of all tabs -->

                <div id="myTabContent" class="tab-content">

                    <!-- Tab of profile -->

                    <div id="home" class="tab-pane fade {% if (zm is not defined) and (mes is not defined) %}active in{% endif %}" aria-labelledby="home-tab" role="tabpanel">
                        <br>
                        <br>
                        <div class="col-md-5">
                            <h4 class="page-header">Ваша информация</h4>
                            <dl>
                                <dt><img src="{{ asset(app.user.avatar) }}" style="height:90px;"></dt>
                                <br>
                                <dt>Имя:</dt>
                                <dd>{{ app.user.name ~ ' ' ~ app.user.username }}</dd>
                                <dt>Email:</dt>
                                <dd>{{ app.user.email }}</dd>
                                <dt>Кошелек perfect money:</dt>
                                <dd>{{ app.user.perfectMoney }}</dd>
                            </dl>
                        </div>
                    </div>

                    <!-- End Tab of profile -->

                    <!-- Tab of change profile -->

                    <div id="changeProfile" class="tab-pane fade" aria-labelledby="changeProfile-tab" role="tabpanel">
                        <br>
                        <br>
                        <form method="post" action="{{ path('main_userpage_change_profile') }}" style="max-width: 350px;" enctype="multipart/form-data">

                            <div class="form-group" style="margin-bottom: 30px;">
                                <label class="control-label" style="margin-bottom: 20px;">Изображение профиля (аватар)</label>
                                <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
                                <input type="file" name="new_image" accept="image/*">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Имя</label>
                                <input type="text" name="new_name" value="{{ app.user.name }}" class=" form-control" required>
                            </div>

                            <div style="margin-top: 40px;">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </form>
                    </div>

                    <!-- Tab of change profile -->

                    <!-- Tab of settings -->

                    <div id="settings" class="tab-pane fade{% if mes is defined %} active in{% endif %}" aria-labelledby="settings-tab" role="tabpanel">
                        <br>
                        <br>

                        <!-- Show alert of error or success-->

                        {% if mes is defined %}
                            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button class="close" aria-label="Close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">×</span>
                                </button>
                                {% if mes == 0 %}
                                    Не правильный старый пароль!

                                {% elseif mes == 1 %}
                                    Новый пароль и повторенный пароль не совпадают!

                                {% elseif mes == 2 %}
                                    Пароль успешно изменен!

                                {% elseif mes == 3 %}
                                    Не правильный Email!

                                {% elseif mes == 4 %}
                                    Мы отправили вам Email с дальнейшими инструкциями!

                                {% endif %}

                            </div>
                        {% endif %}

                        <!-- End alert-->

                        <!-- Change password -->

                        <form method="post" action="{{ path('main_userpage_change_password') }}" style="max-width: 350px; ">
                            <label class="control-label" style="font-size: 1.1em; margin-bottom: 30px;">Смена пароля:</label>

                            <div class="form-group">
                                <span class="control-label">Старый пароль:</span>
                                <input name="currentPassword" type="password" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <span class="control-label">Новый пароль:</span>
                                <input name="newPassword" type="password" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <span class="control-label">Повторите новый пароль:</span>
                                <input name="repeatNewPassword" type="password" class="form-control" required>
                            </div>

                            <div style="margin: 40px 0;">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </form>

                        <!-- End change password -->

                        <!-- Change ID perfect money from Email -->

                        <a href="#" data-toggle="modal" data-target="#myModal" style="font-size: 1.1em; text-decoration: none;">
                            Смена perfect money
                        </a>

                        <!-- Modal window of perfect money-->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel" style="color: #495b79 ">
                                            Смена perfect money
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{{ path('main_userpage_change_perfect_money') }}">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Введите свой Email" name="userEmail" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary" value="Продолжить" style="margin-top: 10px; margin-bottom: -20px;">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End Change ID perfect money from Email -->

                    </div>

                    <!-- End tab of settings -->

                </div>

            </div>
        </div>
    </div>
{% endblock %}