{% extends '@MainMain/index.html.twig' %}

{% block title %}
    Баланс
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if err_cash is defined %}
                <h3 class="page-header">Баланс</h3> <br>
                <!-- Error message -->
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button class="close" aria-label="Close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ err_cash }}
                </div>
                <!-- -->
                {% else %}
                    <h3 class="page-header">Баланс</h3> <br>
                {% endif %}
                <div class="col-md-4 yourbalans">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">На вашем балансе:</h3>
                        </div>
                        <div class="panel-body"><h2 class="text-center" style="color:green; margin-bottom: 0; margin-top: 0;"> {{ app.user.wallet.balance }}$</h2> </div>
                    </div>
                </div><!-- ends.yourbalans -->

                <div class="col-md-4 yourbalans">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Пополнить баланс</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" style="width: 100%;" data-toggle="modal" data-target="#myModal">Пополнить</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Ввод средств</h4>
                                <blockquote style="margin:10px;">
                                    <h5>Стоимость активации аккаунта составляет 21.00$ +<br>
                                <span style="color: red;">комиссия Perfect Money:<br>
                                <h6 style="font-weight: 600;">1. Если аккаунт вертифицирован, комисия составляет 0,05%;<br>
                                2. Если аккаунт не вертифицирован, комисия составляет 2,0%;<br>
                                    </h6>
                                </span>
                                    </h5>
                                    <footer>
                                        Оплата активации акаунта происходит с вашего внутренного баланса, для этого на нем должна быть необходимая сумма. Активация аккаунта выполняеться единоразово
                                    </footer>
                                </blockquote>
                            </div>
                            <form action="{{ path('main_invest_money') }}" method="post">
                                <div class="modal-body">

                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="ID Клиента" name="AccountID" />
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Пароль" name="PassPhrase" />
                                    </div>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                        <input type="text" class="form-control" placeholder="Сумма" name="Amount" />
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрить</button>
                                    <button type="submit" class="btn btn-primary">Внести</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--End Modal-->

                <div class="col-md-4 yourbalans">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Вывод средств</h3>
                        </div>
                         <form action="{{ path('main_withdraw_money') }}" method="post">
                            <div class="panel-body">
                                 <div class="input-group">

                                     <span class="input-group-addon" id="basic-addon1">$</span>
                                     <input class="form-control" type="text" placeholder="Введите сумму" name="Amount">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">Вывести</button>
                                        </span>

                                 </div>
                             </div>
                         </form>
                    </div>
                </div>

                <h4>Статистика по балансу</h4>
                <br>


                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Дата</th>
                            <th>Описание</th>
                            <th>Баланс до</th>
                            <th>Сумма</th>
                            <th>Баланс после</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if app.user.history | length != 0 %}
                        {% for i in 0..app.user.history| slice(0, 10) |length - 1 %}
                            <tr>
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ app.user.history[i].date | date('Y-m-d H:i:s') }}</td>
                                <td>{{ app.user.history[i].description }}</td>
                                <td>{{ app.user.history[i].balanceBefore }}</td>
                                <td>{{ app.user.history[i].ammount }}</td>
                                <td>{{ app.user.history[i].balanceAfter }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
