<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Easy To Invest" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Easy To Invest - Для тех, кто понял – предела успешности не существует. Для тех, кто готов к постоянному увеличению дохода. Для тех, у кого почти получилось изменить мышление, подчинить эмоции. Для вас." />
    <meta property="og:url" content="http://easytoinvest.net/login" />
    <meta property="og:image" content="http://easytoinvest.net/web/files/default/easytoinvest-default.jpg" />
    <meta name="title" content="Easy To Invest" />
    <meta name="description" content="Easy To Invest - Для тех, кто понял – предела успешности не существует. Для тех, кто готов к постоянному увеличению дохода. Для тех, у кого почти получилось изменить мышление, подчинить эмоции. Для вас." />
    {% block pageimage %}
        <link rel="image_src" href="http://easytoinvest.net/web/files/default/easytoinvest-default.jpg" />
    {% endblock %}
    <meta name="author" content="Vladislav Kosko">
    <title>{% block title %}Easy To Invest{% endblock %}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/main/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/main/js/respond.min.js') }}"></script>
    <![endif]-->

    {% block stylesheets %}
        <link href="{{ asset('bundles/main/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('bundles/main/css/sb-admin-2.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('bundles/main/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('bundles/main/css/OpenSans.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('bundles/main/css/normalize.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('bundles/main/css/custom.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}
</head>
<body id="body" style="overflow-x: hidden;">
{% block index %}

{% endblock %}
<div id="wrapper">
    {% block navigation %}
        {% block leftSidebar %}

        {% endblock %}
    {% endblock %}

    {% block page %}
        <div id="page-wrapper" {% if app.user == null %}style="margin: 0; padding: 0;"{% endif %}>
            <div {% if app.user %}class="container-fluid"{% endif %}>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="{{ asset('files/default/easytoinvest-default.jpg') }}" style="display: none;">
                        {% block body %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>

{% block JavaScripts %}
    <script src="{{ asset('bundles/main/js/jQuery/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bundles/main/js/Bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/main/js/metisMenu.min.js') }}"></script>
    <script src="{{ asset('bundles/main/js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('bundles/main/js/jQuery/jquery.smoothwheel.js') }}"></script>
{% endblock %}
</body>
</html>