{% extends '@MainMain/layout.html.twig' %}

{% block pageimage %}
{% endblock %}

{% block title %}Easy To Invest{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/custom.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/main/css/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block index %}
    <div id="bgvid"
         data-vide-bg="{{ asset('files/default/default-background.mp4') }}" data-vide-options="loop: true, muted: true, position: 0% 0%">
    </div>

    <div class="container-fluid" style="height: 700px; padding: 0">
        <section class="big-background" id="reg-form">
            <div class="pattern"></div>
            <div class="big-background-container">
                <h1 class="big-background-title" style="margin-bottom: 0;">Easy To Invest</h1>
                <h2 class="big-background-title" style="font-size: 30px; margin-top: 0;">ЛЕГКО ИНВЕСТИРОВАТЬ, ЛЕГКО ЗАРАБАТЫВАТЬ!</h2>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <form action="{{ path('main_login_check') }}" method="post" class="col-md-4 col-md-offset-4" style="text-align: center">
                            {% if error %}
                                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                    <button class="close" aria-label="Close" data-dismiss="alert" type="button">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    {{ error }}
                                </div>
                            {% endif %}
                            <input type="text" class="form-control" name="_username" placeholder="Имя пользователя" />
                            <br>
                            <input type="password" class="form-control" name="_password" placeholder="Пароль" />

                            <div style="text-align: right">
                                <a href="#" data-toggle="modal" data-target="#myModal" style="color: #fff; text-decoration: none;">
                                    Забыли пароль?
                                </a>
                            </div>

                            <input type="hidden" name="_target_path" value="/user" />
                            <button class="btn btn-success" type="submit">Вход</button>
                            <a href="{{ path('main_signup') }}" class="btn btn-primary ">Регистрация</a>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a class="about-section-btn" style="margin-top: 40px; font-size: 10px; color: #ffffff;" id="see-presentation" href="#presentation-view">Посмотреть презентацию</a>
                        <a class="about-section-btn" style="margin-top: 10px; font-size: 10px; color: #ffffff;" href="{{ path('main_signup') }}">Инвестировать!</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Modal window -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" style="color: #495b79 ">
                        Восстановление пароля
                    </h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('main_login_forgot_password') }}">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Введите свой Email" name="userEmail" required>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Продолжить" style="margin-top: 10px; margin-bottom: -20px;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper" id="wrapper">
        <div class="row">
            <div class="col-xs-12">
                <section class="about-section" style="padding-top: 15px;">
                    <div class="about-section-container">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">
                                <h2 class="about-section-title" style="padding: 0; margin: 20px 0; font-size: 34px;">
                                    Как заработать в системе Easy To Invest?
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><img class="img-responsive" src="{{ asset('bundles/main/images/1.png') }}"></div>
                            <div class="col-md-12"><img class="img-responsive" src="{{ asset('bundles/main/images/2.png') }}"></div>
                            <div class="col-md-offset-2 col-md-8">
                                <a href="{{ path('main_signup') }}">
                                    <img class="img-responsive" src="{{ asset('bundles/main/images/icons/button.png') }}" style="padding: 30px">
                                </a>

                                <h3>
                                    Купив пакет "Стартовые инвестиции" стоимостью всего 21$ и используя уникальную систему
                                    ISI (Intelect system investment), вы многократно умножаете вложенные средства
                                </h3>

                                <i><p>И помните, упущенное время – это упущенная прибыль.</p></i>

                                <!--<p>
                                      Используя собственно разработанную стратегию диверсификации инвестиций - ISI (Intellect system investment),
                                      наши высококвалифицированные менеджеры принимают участие в торгах акций крупнейших компаний мира,
                                      фондовыми индексами, нефтью, золотом.
                                  </p>-->
                            </div>
                        </div>

                        <!--
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8">
                                <p>
                                    Станьте частью компании - купив пакет "Стартовые инвестиции".
                                    Пройдите бесплантую <a href="{{ path('main_signup') }}">регистрацию</a> уже сегодня.
                                </p>
                                <p><i>Будущее формируется в настоящем.</i></p>
                            </div>
                        </div>-->

                        <div class="row" style="margin-left: auto; margin-right: auto;">
                            <h1 style="padding-bottom: 50px">Особенности Easy To Invest</h1>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="img-responsive" src="{{ asset('bundles/main/images/icons/4.png') }}" style="padding-bottom: 10px;">
                                <p>Быстрая окупаемость инвестиций — легкий старт даже для новичков</p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="img-responsive" src="{{ asset('bundles/main/images/icons/2.png') }}" style="padding-bottom: 10px;">
                                <p>Автоматический вывод на надежную систему Perfect Money с удобным смс оповещением</p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="img-responsive" src="{{ asset('bundles/main/images/icons/0.png') }}" style="padding-bottom: 10px;">
                                <p>Нет нужды «подключать» под себя людей – система ISI сама распределит поток инвесторов</p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img class="img-responsive" src="{{ asset('bundles/main/images/icons/3.png') }}" style="padding-bottom: 10px;">
                                <p>100% средств распределяются между участниками системы</p>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-md-offset-2 col-md-8">
                                <h2 class="about-section-title" style="padding: 0; margin: 20px 0; font-size: 34px;">Бизнес модель компании</h2>
                                <p>3 простых шага к началу работы с инвестициями в компании Easy To Invest</p>
                                <ul class="list-unstyled text-left col-md-offset-1" style="font-size: 20px;">
                                    <li style="display: list-item;">1. <a href="{{ path('main_signup') }}">Регистрация</a> в онлайн офисе компании Easy To Invest</li>
                                    <li style="display: list-item;">2. Покупка пакета "Стартовые инвестиции" стоимостью 21$</li>
                                    <li style="display: list-item;">3. Получение инфомационных материалов и рекомендации компании</li>
                                </ul>
                                <p style="font-size: 12px;" class="text-muted">
                                    Источником пассивного дохода служит система, которая автоматически
                                    распределяет прибыль от инвестиции между участниками*
                                </p>
                                <p style="font-size: 12px;" class="text-muted">
                                    *Результаты для каждого случая инвестиции уникальны. Компания не гарантирует одинаковый
                                    результат и не несет ответственности за возможные риски
                                </p>
                            </div>
                        </div>-->

                        <h2 class="about-section-title"  style="padding: 0; margin: 20px 0; font-size: 34px;">Преимущества Easy to invest</h2>

                        <br><img src="{{ asset('bundles/main/images/money.gif') }}" style="height:200px;"><br>
                        <p>
                            <strong>Это легкодоступный</strong> и простой в использовании <br>
                            высокодоходный финансовый инструмент,<br> механизм которого
                            позволяет получать <br>прибыль в кратчайшие сроки.
                        </p>
                        <br><img src="{{ asset('bundles/main/images/graf.gif') }}" style="height:200px;"><br>
                        <p>
                            <strong>Используя инструмент</strong> вы сможете воплотить <br>
                            свои мечты в реальность, вместе с людьми<br> со всего мира, которых объединяет <br>
                            Единая цель - стать финансово независимыми.
                        </p>

                        <br><img src="{{ asset('bundles/main/images/cash.gif') }}" style="height:200px;"><br>
                        <p>
                            Все, что вам нужно, - это <strong>интернет и желание</strong><br>
                            получить доступ к новым финансовым возможностям.<br>
                        </p>
                        <div id="presentation-view"></div>

                        <br><br>

                        <h2 class="about-section-title"  style="padding: 0; margin: 20px 0; font-size: 34px;">Презентация Easy to invest</h2>

                        <div class="row">
                            <div class="col-xs-12 col-md-offset-3 col-md-6">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/DTcftmVwnog" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>


                        <br><br><br>

                        <a class="about-section-btn" href="{{ path('main_signup') }}">Зарегистрируйтесь сейчас</a>
                    </div>
                </section>

                <section class="small-background-section" style="padding-bottom: 30px;">
                    <div class="pattern"></div>
                    <div class="small-background-container">
                        <h2 class="small-background-title"><span>Мы в соц сетях </span></h2>
                        <ul class="socials">
                            <li><a href="http://vk.com/easytoinvest" target="_blank"><i class="fa fa-vk fa-3x"></i></a></li>
                            <li><a href="http://twitter.com/justeasyinvest" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
                            <li><a href="https://www.facebook.com/groups/easytoinvest" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/105012414897862941381/about" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a></li>
                            <li><a href="http://easytoinvest.tumblr.com" target="_blank"><i class="fa fa-tumblr fa-3x"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/easytoinvest" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
                        </ul>
                        <h4 class="small-background-title" style="font-size: 22px; margin-bottom: 5px;">Контакты</h4>
                        <div class="small-background-container" style="color: #f5f5f5">
                            <h5><b>Австрия, 4020 Linz, Bethlehemstraße, 35</b></h5>
                            <h5>mail@easytoinvest.net</h5>
                        </div>
                        <a style="color: #f1c40f; cursor: pointer;" data-target="#agreement" data-toggle="modal">Соглашение о сотрудничестве</a> |
                        <a style="color: #f1c40f; cursor: pointer;" data-target="#politic" data-toggle="modal">Политика конфиденциальности</a>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Modal windows -->
    <div class="modal fade" id="agreement" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2>СОГЛАШЕНИЕ О СОТРУДНИЧЕСТВЕ</h2>
                </div>
                <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                    <ul class="list-unstyled" style="font-size: 12px;">
                        <li style="width: 100%;">
                            <h4 class="text-center">1. ОБЩИЕ ПОЛОЖЕНИЯ И ОПРЕДЕЛЕНИЯ </h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.1.</b> Настоящее Соглашение о сотрудничестве (далее Соглашение) разработано в соответствии с
                                действующим законодательством РФ и направлено на регулирование взаимоотношений между компанией Easy
                                To Invest и его Клиентами / Инвесторами (в дальнейшем Стороны).
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.2.</b> Компания Easy To Invest (в дальнейшем Компания) – официальное лицо,
                                осуществляющее управление инвестиционным интернет-сервисом по адресу www.easytoinvest.net
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.3.</b> Клиентом (Инвестором) признаётся – любое физическое лицо, обладающее полной дееспособностью,
                                достигшее возраста не менее 18 лет, принимающего на добровольной основе все положения настоящего
                                Соглашения в момент прохождения регистрации на сайте www.easytoinvest.net
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.4.</b> Кабинет Клиента (или Личный Кабинет) – персональный раздел на сайте, доступ к которому производится
                                по логину и паролю, позволяющий управлять личным счётом Инвестора, получать статистическую информацию,
                                и дающий доступ к личным данным.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.5.</b> Инвестор может являться гражданином любой страны мира, но только если законодательство этой страны
                                не противоречит общим условиям данного Соглашения!
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.6.</b> Все Клиенты / Инвесторы компании равны между собой в правах и ответственностях.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.7.</b> Логотип и слоган Easy To Invest является объектом интеллектуальной собственности,
                                и принадлежат исключительно компании Easy To Invest.
                            </p>
                        </li>


                        <li style="width: 100%;">
                            <h4 class="text-center">2. ПРЕДМЕТ СОГЛАШЕНИЯ </h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>2.1.</b> Настоящее Соглашение определяет порядок и условия, на которых компания Easy
                                To Invest предоставляет свои услуги физическим лицам, которые зарегистрированы в качестве
                                Клиентов на сайте www.easytoinvest.net.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>2.2.</b> В соответствии с правилами настоящего Соглашения Easy To Invest предоставляет возможность Клиенту
                                использовать интернет-сервис по адресу www.easytoinvest.net для инвестирования денежных
                                средств с целью получения процентов.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>2.3.</b> Компания Easy To Invest осуществляет функции контроля и организацию взаиморасчётов с Клиентами.
                            </p>
                        </li>

                        <li style="width: 100%;">
                            <h4 class="text-center">3. УСЛОВИЯ СОТРУДНИЧЕСТВА</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>3.1.</b> Внесение средств на счёт Инвестора осуществляется через интернет-сервис по адресу www.easytoinvest.net
                                и только посредством безналичного перевода.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>3.2.</b> Отсутствие доступа к сайту easytoinvest.net из-за возможных технических сбоев в работе хостинговой компании,
                                обслуживающей сайт, – не является частью ответственности компании Easy To Invest .
                            </p>
                        </li>

                        <li style="width: 100%;">
                            <h4 class="text-center">4. ПРАВА И ОБЯЗАННОСТИ КЛИЕНТА / ИНВЕСТОРА</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.1.</b> Клиент имеет право обратиться в службу поддержки написав на электронный адрес указанный на сайте компании,
                                и получить квалифицированную помощь в течение 24 часов.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.2.</b> Инвестор вправе накапливать начисленные денежные средства в Кабинете или заказывать вывод средств на свой
                                текущий счёт, при достижение баланса в размере 36 $ .
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.3.</b> Клиент имеет право приглашать к сотрудничеству других Инвесторов и получать за это вознаграждения
                                в виде процента от всех последующих зачисленный.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.4.</b> Клиент обязуется сообщать компании обо всех известных ему попытках несанкционированного доступа к
                                своему Кабинету, а также любых ошибках в работе сайта.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.5.</b> Клиент обязуется не публиковать оскорбительные сообщения, клевету и иные виды сообщений,
                                порочащих репутацию проекта или её Инвесторов.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.6.</b> Клиент обязуется осуществлять инвестиционную деятельность в рамках законодательства той страны,
                                под юрисдикцией которой он находится.
                            </p>
                        </li>

                        <li style="width: 100%;">
                            <h4 class="text-center">5. ПРАВА И ОБЯЗАННОСТИ КОМПАНИИ</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.1.</b> Компания обязуется принять все меры для круглосуточной работоспособности
                                сайта проекта и обеспечить работу Службы поддержки.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.2.</b> Компания обязуется обеспечить надлежащий уровень безопасности интернет-сайта www.easytoinvest.net,
                                личной информации Клиента и вверенных им денежных средств,
                                соблюдая условия положения Политики конфиденциальности.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.3.</b> Компания имеет право в одностороннем порядке изменять и/или дополнять настоящее Соглашение
                                по своему усмотрению и без согласия Клиента.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.4.</b> В случае выявления компанией подозрений на взлом Кабинета Клиента, данный Кабинет может
                                быть временно заблокирован с целью обезопасить средства Инвестора.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.5.</b> Компания вправе в одностороннем порядке и в любое время ограничить, расширить или изменить качество,
                                условия и объём предоставляемых услуг без предварительного уведомления Клиента.
                            </p>
                        </li>

                        <li style="width: 100%;">
                            <h4 class="text-center">6. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                6.1. Инвестор осознает обстоятельства, при которых результаты предыдущей работы компании не могут являться
                                гарантией таких же показателей в будущем, и что, в свою очередь,
                                может отразиться на величине начисляемого процента прибыли.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                6.2. Компания не несёт ответственности за несвоевременные проведения транзакций в платежных системах,
                                по причине их сбоев в работе, которые могут повлечь за собой задержку в обработке платежей,
                                заморозку или конфискацию средств. А также не несёт ответственности за какие-либо фактические или косвенные убытки,
                                понесенные в результате таких действий.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                6.3. Клиенты компании осуществляют все финансовые операции исключительно по собственному желанию на свой страх и риск,
                                принимая на себя полную ответственность за свои действия.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                6.4. Стороны не несут ответственность перед друг другом за неисполнение обязательств по настоящему
                                Соглашению в случае наступления обстоятельств непреодолимой силы (чрезвычайных и непредотвратимых),
                                возникших помимо воли и желания Сторон, которые нельзя предвидеть или избежать.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default btn-primary">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="politic" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                    <ul class="list-unstyled" style="font-size: 12px;">
                        <li style="width: 100%;">
                            <h4 class="text-center">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Участие Клиента в Easy To Invest полностью конфиденциально.
                                Клиенту не нужно предъявлять никаких документов.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Easy To Invest соблюдает политику полной конфиденциальности. Никакие сведения о Клиенте,
                                включая личные данные, сведения по операциям и доходам никому кроме Клиента не предоставляются.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Все возможные технические риски Easy To Invest берет на себя. Они не несут угрозы проекту
                                и не отражаются на клиентах Easy To Invest.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Easy To Invest может отказать Клиенту в предоставлении услуг в случае, если Клиент нарушает условия настоящего
                                Соглашения или предпринимает попытки так или иначе нанести вред Easy To Invest (клевета, дискредитация, шантаж,
                                попытки взлома веб - сайта, спам и т.д.).
                                В этом случае Easy To Invest может начать процедуру возврата вклада или заблокировать Клиента и
                                конфисковать инвестированные средства для покрытия убытков.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Клиент обязан хранить свой логин и пароль в полной конфиденциальности.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Клиент несет ответственность за поддержание конфиденциальности информации о логине и пароле,
                                связанной с его аккаунтом, и за все действия, совершаемые на его аккаунте.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Easy To Invest имеет право разрешать или запрещать использование своего веб - сайта и/или любых
                                услуг Клиенту без объяснения причин.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Клиент понимает и полностью принимает тот факт, что рассылка негативного спама о Easy To Invest запрещена.
                                Аккаунт Клиента, занимающегося рассылкой спам сообщений, будет заблокирован без возврата инвестированных средств.
                            </p>
                        </li>


                        <li style="width: 100%;">
                            <h4 class="text-center">ИЗМЕНЕНИЯ ПРАВИЛ И УСЛОВИЙ</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Настоящее Соглашение может быть дополнено или изменено Easy To Invest
                                по своему усмотрению в любое время без предварительного уведомления.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Если Клиент продолжает пользоваться услугами Easy To Invest после внесения изменений в настоящее Соглашение,
                                то Клиент соглашается с внесенными изменениями и обязуется их соблюдать.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default btn-primary">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal windows -->
{% endblock %}

{% block JavaScripts %}
    <script src="{{ asset('bundles/main/js/jQuery/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bundles/main/js/jQuery/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('bundles/main/js/jQuery/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/main/js/jQuery/jquery.vide.min.js') }}"></script>
    <script src="{{ asset('bundles/main/js/jQuery/jquery.smooth-scroll.js') }}"></script>
    <script src="{{ asset('bundles/main/js/Bootstrap/bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#reg-now').bind('click', function (event) {
                event.preventDefault();
                var link = this;
                $.smoothScroll({
                    scrollTarget: link.hash,
                    easing: 'swing',
                    speed: 700,
                    preventDefault: true
                });
                return false;
            });

            $('#see-presentation').bind('click', function (event) {
                event.preventDefault();
                var link = this;
                $.smoothScroll({
                    scrollTarget: link.hash,
                    easing: 'swing',
                    speed: 700,
                    preventDefault: true
                });
                return false;
            });
        });

    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60466877-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter28895565 = new Ya.Metrika({id:28895565,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/28895565" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- KISSmetrics tracking snippet -->
    <script type="text/javascript">var kmq = kmq || [];
        var kmk = kmk || '02a21239ef1c2d8cc469fc0b05ff0d504a1628ae';
        function _kms(u){
            setTimeout(function(){
                var d = document, f = d.getElementsByTagName('script')[0],
                        s = d.createElement('script');
                s.type = 'text/javascript'; s.async = true; s.src = u;
                f.parentNode.insertBefore(s, f);
            }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');
        kms('//doug1izaerwt3.cloudfront.net/' + kmk + '.1.js');
    </script>
{% endblock %}

{% block page %}

{% endblock %}
