{% extends '@MainMain/layout.html.twig' %}

{% block pageimage %}
	<link rel="image_src" href="http://easytoinvest.net/web/files/default/easytoinvest-default.jpg" />
{% endblock %}

{% block title %}Easy To Invest{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/main/css/custom.css') }}" type="text/css" rel="stylesheet">
	<link href="{{ asset('bundles/main/css/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block index %}

	<div id="bgvid"
		 data-vide-bg="{{ asset('files/default/default-background.mp4') }}" data-vide-options="loop: true, muted: true, position: 0% 0%">
	</div>

	<section class="big-background" id="reg-form">
		<div class="pattern"></div>
		<div class="big-background-container">
			<h1 class="big-background-title">Easy To Invest</h1>
			<div class="divider"></div>
			<br>
			<div class="row">
				<form action="{{ path('main_login_check') }}" method="post" class="col-md-4 col-md-offset-4" style="text-align: center">
					{% if error %}
						<div class="alert alert-warning alert-dismissible fade in" role="alert">
							<button class="close" aria-label="Close" data-dismiss="alert" type="button">
								<span aria-hidden="true">×</span>
							</button>
							{{ error }}
						</div>
					{% endif %}
					<input type="text" class="form-control" name="_username" placeholder="Имя пользователя" />
					<br>
					<input type="password" class="form-control" name="_password" placeholder="Пароль" />

                    <div style="text-align: right">
                        <a href="#" data-toggle="modal" data-target="#myModal" style="color: #fff; text-decoration: none;">
                            Забыли пароль?
                        </a>
                    </div>

                    <br>
					<input type="hidden" name="_target_path" value="/user" />
					<button class="btn btn-success" type="submit">Вход</button>
					<a href="{{ path('main_signup') }}" class="btn btn-primary ">Регистрация</a>
				</form>

				<br>
				<div class="col-md-12" style="margin-top: 40px;">
					<a class="about-section-btn" style="color: #ffffff;" id="see-presentation" href="#presentation-view">Посмотреть презентацию</a>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

			</div>
		</div>
	</section>

    <!-- Modal window -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" style="color: #495b79 ">
                        Восстановление пароля
                    </h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('main_login_forgot_password') }}">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Введите свой Email" name="userEmail" required>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Продолжить" style="margin-top: 10px; margin-bottom: -20px;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

	<div class="wrapper">
		<div class="row">
			<div class="col-xs-12">
				<section class="about-section">
					<div class="about-section-container">
						<h2 class="about-section-title">Easy to invest</h2>

						<br><img src="{{ asset('bundles/main/images/money.gif') }}" style="height:200px;"><br>
						<p><strong>Это легкодоступный</strong> и простой в использовании <br> высокодоходный финансовый инструмент,<br> механизм которого
							позволяет получать <br>прибыль в кратчайшие сроки.
						</p>
						<br><img src="{{ asset('bundles/main/images/graf.gif') }}" style="height:200px;"><br>
						<p><strong>Используя инструмент</strong> вы сможете воплотить <br> свои мечты в реальность, вместе с людьми<br> со всего мира, которых объединяет <br>Единая цель - стать финансово независимыми.
						</p>

						<br><img src="{{ asset('bundles/main/images/cash.gif') }}" style="height:200px;"><br>
						<p>Все, что вам нужно, - это <strong>интернет и желание</strong><br> получить доступ к новым финансовым возможностям.<br> То, что предлагаем мы, еще никто не предлагал .
						</p>
						<div id="presentation-view"></div>

						<br><br>

						<div class="row">
							<div class="col-xs-12 col-md-offset-3 col-md-6">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/oYOi9yMp5_4" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
						</div>


						<br><br><br>

						<a class="about-section-btn" id="reg-now" href="#reg-form">Зарегестрируйтесь сейчас</a>

					</div>

				</section>

				<section class="small-background-section">
					<div class="pattern"></div>
					<div class="small-background-container">
						<h2 class="small-background-title"><span>Мы в соц сетях </span></h2>
						<ul class="socials">
							<li><a href="http://vk.com/easytoinvest" target="_blank"><i class="fa fa-vk fa-3x"></i></a></li>
							<li><a href="http://twitter.com/justeasyinvest" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
							<li><a href="https://www.facebook.com/groups/easytoinvest" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
							<li><a href="https://plus.google.com/u/0/105012414897862941381/about" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a></li>
							<li><a href="http://easytoinvest.tumblr.com" target="_blank"><i class="fa fa-tumblr fa-3x"></i></a></li>
							<li><a href="https://www.linkedin.com/in/easytoinvest" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}

{% block JavaScripts %}
	<script src="{{ asset('bundles/main/js/jQuery/jquery-2.1.3.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jQuery/jquery-migrate-1.2.1.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jQuery/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jQuery/jquery.vide.min.js') }}"></script>
	<script src="{{ asset('bundles/main/js/jQuery/jquery.smooth-scroll.js') }}"></script>
	<script src="{{ asset('bundles/main/js/Bootstrap/bootstrap.min.js') }}"></script>
	<script>
		$(function () {
			$('#reg-now').bind('click', function (event) {
				event.preventDefault();
				var link = this;
				$.smoothScroll({
					scrollTarget: link.hash,
					easing: 'swing',
					speed: 700,
					preventDefault: true
				});
				return false;
			});

			$('#see-presentation').bind('click', function (event) {
				event.preventDefault();
				var link = this;
				$.smoothScroll({
					scrollTarget: link.hash,
					easing: 'swing',
					speed: 700,
					preventDefault: true
				});
				return false;
			});
		});

	</script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-60466877-1', 'auto');
		ga('send', 'pageview');
	</script>

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter28895565 = new Ya.Metrika({id:28895565,
						webvisor:true,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/28895565" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
{% endblock %}

{% block page %}

{% endblock %}
