{% extends '@MainMain/layout.html.twig' %}

{% block title %}Easy To Invest{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block index %}
    <div class="container" style="width: auto; max-width: 400px;">
        <div class="row text-center pad-top">
            <div class="col-md-offset-0 col-md-12 col-xs-offset-1 col-xs-10">
                <h2 style="color:gray;">Регистрация</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-offset-1 col-xs-10 col-md-12 col-md-offset-0">

                <form role="form"  action="{{ path('main_signup_action') }}" method="post">
                    <br/>
                    {% if zm is defined %}
                    <!-- Error message -->
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button class="close" aria-label="Close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ zm }}
                    </div>
                    <!-- -->
                    {% endif %}
                    <br/>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control name" pattern="[A-Za-z]{2,20}" name="name" placeholder="Имя" required/>
                        <span class="input-group-addon" style="color: red;">*</span>
                    </div>
                    <div class="form-group input-group">
                        <span style="font-size: 10px; font-weight: bold;" class="input-group-addon">@</span>
                        <input type="email" class="form-control email" name="email" placeholder="Email" required/>
                        <span class="input-group-addon" style="color: red;">*</span>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control username" pattern="[A-Za-z0-9_-*!#$%^&*()@]{3,16}" name="username" placeholder="Логин" required/>
                        <span class="input-group-addon" style="color: red;">*</span>
                    </div>
                    <small style="color:white;">Номер долларового кошелька Perfect money</small>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                        <input type="text" class="form-control perfectmoney" pattern="[Uu]{1}[0-9]{7}" name="perfectMoney" placeholder="Perfectmoney" required/>
                        <span class="input-group-addon" style="color: red;">*</span>
                    </div>
                    <div style="margin:-10px 0 15px 0"><small>
                            <a href="https://perfectmoney.is/signup.html" target="_blank">
                                Если у вас нету аккаунта вам нужно его создать
                            </a>
                        </small></div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control password" pattern="[A-Za-z0-9_-!@#$%^&()]{5,30}" name="password" placeholder="Пароль" required/>
                        <span class="input-group-addon" style="color: red;">*</span>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control password" pattern="[A-Za-z0-9_-!@#$%^&()]{5,30}" name="repeatPassword" placeholder="Повторите пароль" required/>
                        <span class="input-group-addon" style="color: red;">*</span>
                    </div>
                    <p style="font-size: 11px; color: #f5f5f5" class="text-left">
                        * Easy To Invest соблюдает
                        <a style="cursor: pointer;" data-target="#politic" data-toggle="modal">политику полной конфиденциальности</a>
                        . Никакие сведения о Клиенте, включая личные данные,
                        сведения по операциям и доходам никому кроме Клиента не предоставляются
                    </p>

                    <input type="checkbox" id="accept_rules" />
                    <label for="accept_rules" style="color: #f5f5f5; text-shadow: 1px 1px darkslateblue;">
                        Принимаю условия
                        <a style="cursor: pointer;" data-target="#agreement" data-toggle="modal">соглашения</a>
                    </label>

                    <button type="submit" disabled id="end_reg" class="btn btn-success ">Регистрация</button>
                    <button type="button" class="btn btn-default btn-primary" data-target="#instruction" data-toggle="modal" style="text-decoration: none;">Инструкция</button>
                </form>
            </div>
        </div>
    </div>
    <div class="backstretch" style="left: 0; top: 0; overflow: hidden; margin: 0; padding: 0; height: 100%; width: 100%; z-index: -999999; position: fixed;">
        <img style="position: absolute; margin: 0; padding: 0; border: medium none; width: 100%; height: 100%; max-width: none; z-index: -999999; left: 0; top:0;" src="{{ asset('bundles/main/images/bg/3.jpg') }}" class="deleteable">
    </div>

    <!-- Modal window -->
    <div class="modal fade" id="instruction" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Инструкция по регистрации</h2>
                </div>
                <div class="modal-body">
                    <a class="btn btn-default btn-primary text-center" target="_blank" href="https://www.youtube.com/watch?v=EjxyXDvYQQc">Видео инструкция</a><br>
                    <hr/>
                    <ul class="list-unstyled" style="font-size: 12px;">
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 1.</b> Вводим свои данные, e-mail, вводим номер долларового кошелька системы Perfect Money,
                                если у вас его еще нет, то переходим к регистрации на сайте www.perfectmoney.is . Если же вы
                                уже имеете кошелек, то переходим к шагу 3.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 2.</b> Вводим данные для регистрации нового кошелька. Проверяем почту указанную при
                                регистрации. Вводим полученный от Perfect money ID* номер из письма, пароль и входим в
                                систему Perfect Money.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 3.</b> Переходим к настройке системы, нажав на кнопку «Настройки» в правом углу. Под пунктом
                                «Безопасность» нажимаем кнопку «Изменить параметры безопасности».
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 4.</b> Листаем страницу в самый низ, и в поле API* наживаем кнопку «Включить» и кнопку
                                «Редактировать». В поле IP маска вводим следующие символы « *.*.*.* », вводим код с
                                изображения и жмем «Сохранить». Поздравляем, вы успешно завершили настройку для работы с
                                Easy To Invest.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 5.</b> В меню «Ввод» пополняем любым удобным для вас способом, ваш долларовый кошелек* ( в
                                формате U1234567). Одним из самых быстрых и дешевых является обмен Perfect money USD через
                                обменные пункты-партнеры.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 6.</b> Пополнив кошелек, возвращаемся на страницу регистрации Easy To Invest, вводим кошелек
                                в нужное поле и подтвердив e-mail, входим в личный кабинет Easy To Invest
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 7.</b> Переходим в меню «Баланс», выбираем «Пополнить баланс», вводим Perfect money ID,
                                пароль от Perfect Money и сумму 21 доллар. Нажимаем «Активировать Аккаунт».
                                Поздравляем, Вы успешно прошли регистрацию и активацию в системе Easy To Invest!
                                Вы внесете огромный вклад в развитие компании и получения вашего дохода, рассказав о нас в соц. сетях
                                с помощью кнопок в левом нижнем углу.
                            </p>
                        </li>
                        <li>*Perfect Money ID – уникальный номер вашего аккаунта, высланный вам на почту системой Perfect Money</li>
                        <li>*API – программный интерфейс, настройка его необходима для нормальной работы систем</li>
                        <li>*долларовый кошелек – кошелек с номером после буквы «U» например U1234321</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default btn-primary">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal windows -->
    <div class="modal fade" id="agreement" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2>СОГЛАШЕНИЕ О СОТРУДНИЧЕСТВЕ</h2>
                </div>
                <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                    <ul class="list-unstyled" style="font-size: 12px;">
                        <li style="width: 100%;">
                            <h4 class="text-center">1. ОБЩИЕ ПОЛОЖЕНИЯ И ОПРЕДЕЛЕНИЯ </h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.1.</b> Настоящее Соглашение о сотрудничестве (далее Соглашение) разработано в соответствии с
                                действующим законодательством РФ и направлено на регулирование взаимоотношений между компанией Easy
                                To Invest и его Клиентами / Инвесторами (в дальнейшем Стороны).
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.2.</b> Компания Easy To Invest (в дальнейшем Компания) – официальное лицо,
                                осуществляющее управление инвестиционным интернет-сервисом по адресу www.easytoinvest.net
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.3.</b> Клиентом (Инвестором) признаётся – любое физическое лицо, обладающее полной дееспособностью,
                                достигшее возраста не менее 18 лет, принимающего на добровольной основе все положения настоящего
                                Соглашения в момент прохождения регистрации на сайте www.easytoinvest.net
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.4.</b> Кабинет Клиента (или Личный Кабинет) – персональный раздел на сайте, доступ к которому производится
                                по логину и паролю, позволяющий управлять личным счётом Инвестора, получать статистическую информацию,
                                и дающий доступ к личным данным.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.5.</b> Инвестор может являться гражданином любой страны мира, но только если законодательство этой страны
                                не противоречит общим условиям данного Соглашения!
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.6.</b> Все Клиенты / Инвесторы компании равны между собой в правах и ответственностях.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>1.7.</b> Логотип и слоган Easy To Invest является объектом интеллектуальной собственности,
                                и принадлежат исключительно компании Easy To Invest.
                            </p>
                        </li>


                        <li style="width: 100%;">
                            <h4 class="text-center">2. ПРЕДМЕТ СОГЛАШЕНИЯ </h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>2.1.</b> Настоящее Соглашение определяет порядок и условия, на которых компания Easy
                                To Invest предоставляет свои услуги физическим лицам, которые зарегистрированы в качестве
                                Клиентов на сайте www.easytoinvest.net.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>2.2.</b> В соответствии с правилами настоящего Соглашения Easy To Invest предоставляет возможность Клиенту
                                использовать интернет-сервис по адресу www.easytoinvest.net для инвестирования денежных
                                средств с целью получения процентов.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>2.3.</b> Компания Easy To Invest осуществляет функции контроля и организацию взаиморасчётов с Клиентами.
                            </p>
                        </li>

                        <li style="width: 100%;">
                            <h4 class="text-center">3. УСЛОВИЯ СОТРУДНИЧЕСТВА</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>3.1.</b> Внесение средств на счёт Инвестора осуществляется через интернет-сервис по адресу www.easytoinvest.net
                                и только посредством безналичного перевода.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>3.2.</b> Отсутствие доступа к сайту easytoinvest.net из-за возможных технических сбоев в работе хостинговой компании,
                                обслуживающей сайт, – не является частью ответственности компании Easy To Invest .
                            </p>
                        </li>

                        <li style="width: 100%;">
                            <h4 class="text-center">4. ПРАВА И ОБЯЗАННОСТИ КЛИЕНТА / ИНВЕСТОРА</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.1.</b> Клиент имеет право обратиться в службу поддержки написав на электронный адрес указанный на сайте компании,
                                и получить квалифицированную помощь в течение 24 часов.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.2.</b> Инвестор вправе накапливать начисленные денежные средства в Кабинете или заказывать вывод средств на свой
                                текущий счёт, при достижение баланса в размере 36 $ .
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.3.</b> Клиент имеет право приглашать к сотрудничеству других Инвесторов и получать за это вознаграждения
                                в виде процента от всех последующих зачисленный.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.4.</b> Клиент обязуется сообщать компании обо всех известных ему попытках несанкционированного доступа к
                                своему Кабинету, а также любых ошибках в работе сайта.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.5.</b> Клиент обязуется не публиковать оскорбительные сообщения, клевету и иные виды сообщений,
                                порочащих репутацию проекта или её Инвесторов.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>4.6.</b> Клиент обязуется осуществлять инвестиционную деятельность в рамках законодательства той страны,
                                под юрисдикцией которой он находится.
                            </p>
                        </li>

                        <li style="width: 100%;">
                            <h4 class="text-center">5. ПРАВА И ОБЯЗАННОСТИ КОМПАНИИ</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.1.</b> Компания обязуется принять все меры для круглосуточной работоспособности
                                сайта проекта и обеспечить работу Службы поддержки.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.2.</b> Компания обязуется обеспечить надлежащий уровень безопасности интернет-сайта www.easytoinvest.net,
                                личной информации Клиента и вверенных им денежных средств,
                                соблюдая условия положения Политики конфиденциальности.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.3.</b> Компания имеет право в одностороннем порядке изменять и/или дополнять настоящее Соглашение
                                по своему усмотрению и без согласия Клиента.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.4.</b> В случае выявления компанией подозрений на взлом Кабинета Клиента, данный Кабинет может
                                быть временно заблокирован с целью обезопасить средства Инвестора.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>5.5.</b> Компания вправе в одностороннем порядке и в любое время ограничить, расширить или изменить качество,
                                условия и объём предоставляемых услуг без предварительного уведомления Клиента.
                            </p>
                        </li>

                        <li style="width: 100%;">
                            <h4 class="text-center">6. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                6.1. Инвестор осознает обстоятельства, при которых результаты предыдущей работы компании не могут являться
                                гарантией таких же показателей в будущем, и что, в свою очередь,
                                может отразиться на величине начисляемого процента прибыли.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                6.2. Компания не несёт ответственности за несвоевременные проведения транзакций в платежных системах,
                                по причине их сбоев в работе, которые могут повлечь за собой задержку в обработке платежей,
                                заморозку или конфискацию средств. А также не несёт ответственности за какие-либо фактические или косвенные убытки,
                                понесенные в результате таких действий.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                6.3. Клиенты компании осуществляют все финансовые операции исключительно по собственному желанию на свой страх и риск,
                                принимая на себя полную ответственность за свои действия.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                6.4. Стороны не несут ответственность перед друг другом за неисполнение обязательств по настоящему
                                Соглашению в случае наступления обстоятельств непреодолимой силы (чрезвычайных и непредотвратимых),
                                возникших помимо воли и желания Сторон, которые нельзя предвидеть или избежать.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default btn-primary">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="politic" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                    <ul class="list-unstyled" style="font-size: 12px;">
                        <li style="width: 100%;">
                            <h4 class="text-center">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Участие Клиента в Easy To Invest полностью конфиденциально.
                                Клиенту не нужно предъявлять никаких документов.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Easy To Invest соблюдает политику полной конфиденциальности. Никакие сведения о Клиенте,
                                включая личные данные, сведения по операциям и доходам никому кроме Клиента не предоставляются.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Все возможные технические риски Easy To Invest берет на себя. Они не несут угрозы проекту
                                и не отражаются на клиентах Easy To Invest.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Easy To Invest может отказать Клиенту в предоставлении услуг в случае, если Клиент нарушает условия настоящего
                                Соглашения или предпринимает попытки так или иначе нанести вред Easy To Invest (клевета, дискредитация, шантаж,
                                попытки взлома веб - сайта, спам и т.д.).
                                В этом случае Easy To Invest может начать процедуру возврата вклада или заблокировать Клиента и
                                конфисковать инвестированные средства для покрытия убытков.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Клиент обязан хранить свой логин и пароль в полной конфиденциальности.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Клиент несет ответственность за поддержание конфиденциальности информации о логине и пароле,
                                связанной с его аккаунтом, и за все действия, совершаемые на его аккаунте.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Easy To Invest имеет право разрешать или запрещать использование своего веб - сайта и/или любых
                                услуг Клиенту без объяснения причин.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Клиент понимает и полностью принимает тот факт, что рассылка негативного спама о Easy To Invest запрещена.
                                Аккаунт Клиента, занимающегося рассылкой спам сообщений, будет заблокирован без возврата инвестированных средств.
                            </p>
                        </li>


                        <li style="width: 100%;">
                            <h4 class="text-center">ИЗМЕНЕНИЯ ПРАВИЛ И УСЛОВИЙ</h4>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Настоящее Соглашение может быть дополнено или изменено Easy To Invest
                                по своему усмотрению в любое время без предварительного уведомления.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                Если Клиент продолжает пользоваться услугами Easy To Invest после внесения изменений в настоящее Соглашение,
                                то Клиент соглашается с внесенными изменениями и обязуется их соблюдать.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default btn-primary">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal windows -->


{% endblock %}


{% block page %}

{% endblock %}

{% block JavaScripts %}
    {{ parent() }}
    <script>
        $('.password').tooltip({'trigger':'focus', 'title': 'Длина: 5-30, доступные символы: A-Z a-z 0-9 _-!@#$%^&()'});
        $('.perfectmoney').tooltip({'trigger':'focus', 'title': 'Формат: U1234567'});
        $('.name').tooltip({'trigger':'focus', 'title': 'Длина: 2-25, доступные символы: A-Z А-Я a-z а-я'});
        $('.username').tooltip({'trigger':'focus', 'title': 'Длина: 3-16, доступные символы: A-Z a-z 0-9 _-*!#$%^&*()@'});
        $('.email').tooltip({'trigger':'focus', 'title': 'Пример: example@gmail.com'});

        $('#accept_rules').bind('click', function () {
            if ($('#accept_rules').prop('checked')) {
                $('#end_reg').attr('disabled', false);
            } else {
                $('#end_reg').attr('disabled', true);
            }
        });
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60466877-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter28895565 = new Ya.Metrika({id:28895565,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/28895565" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- KISSmetrics tracking snippet -->
    <script type="text/javascript">var kmq = kmq || [];
        var kmk = kmk || '02a21239ef1c2d8cc469fc0b05ff0d504a1628ae';
        function _kms(u){
            setTimeout(function(){
                var d = document, f = d.getElementsByTagName('script')[0],
                        s = d.createElement('script');
                s.type = 'text/javascript'; s.async = true; s.src = u;
                f.parentNode.insertBefore(s, f);
            }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');
        kms('//doug1izaerwt3.cloudfront.net/' + kmk + '.1.js');
    </script>
{% endblock %}