{% extends '@MainMain/layout.html.twig' %}

{% block title %}Easy To Invest{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/main/css/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block index %}
    <div class="container" style="width: auto; max-width: 400px;">
        <div class="row text-center pad-top">
            <div class="col-md-offset-0 col-md-12 col-xs-offset-1 col-xs-10">
                <h2 style="color:gray;">Регистрация</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-offset-1 col-xs-10 col-md-12 col-md-offset-0">

                <form role="form"  action="{{ path('main_signup_action') }}" method="post">
                    <br/>
                    {% if zm is defined %}
                    <!-- Error message -->
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button class="close" aria-label="Close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ zm }}
                    </div>
                    <!-- -->
                    {% endif %}
                    <br/>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control name" pattern="[A-Za-z]{2,20}" name="name" placeholder="Имя" required/>
                    </div>
                    <div class="form-group input-group">
                        <span style="font-size: 10px; font-weight: bold;" class="input-group-addon">@</span>
                        <input type="email" class="form-control email" name="email" placeholder="Email" required/>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control username" pattern="[A-Za-z0-9_-*!#$%^&*()@]{3,16}" name="username" placeholder="Логин" required/>
                    </div>
                    <small style="color:white;">Номер долларового кошелька Perfect money</small>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                        <input type="text" class="form-control perfectmoney" pattern="[Uu]{1}[0-9]{7}" name="perfectMoney" placeholder="Perfectmoney" required/>
                    </div>
                    <div style="margin:-10px 0 15px 0"><small>
                            <a href="https://perfectmoney.is/signup.html" target="_blank">
                                Если у вас нету аккаунта вам нужно его создать
                            </a>
                        </small></div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control password" pattern="[A-Za-z0-9_-!@#$%^&()]{5,30}" name="password" placeholder="Пароль" required/>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control password" pattern="[A-Za-z0-9_-!@#$%^&()]{5,30}" name="repeatPassword" placeholder="Повторите пароль" required/>
                    </div>
                    <button type="submit" class="btn btn-success ">Регистрация</button>
                    <button type="button" class="btn btn-default btn-primary" data-target="#instruction" data-toggle="modal" style="text-decoration: none;">Инструкция</button>
                </form>
            </div>
        </div>
    </div>
    <div class="backstretch" style="left: 0; top: 0; overflow: hidden; margin: 0; padding: 0; height: 100%; width: 100%; z-index: -999999; position: fixed;">
        <img style="position: absolute; margin: 0; padding: 0; border: medium none; width: 100%; height: 100%; max-width: none; z-index: -999999; left: 0; top:0;" src="{{ asset('bundles/main/images/bg/3.jpg') }}" class="deleteable">
    </div>

    <!-- Modal window -->
    <div class="modal fade" id="instruction" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Инструкция по регистрации</h2>
                </div>
                <div class="modal-body">
                    <a class="btn btn-default btn-primary text-center" target="_blank" href="https://www.youtube.com/watch?v=EjxyXDvYQQc">Видео инструкция</a><br>
                    <hr/>
                    <ul class="list-unstyled" style="font-size: 12px;">
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 1.</b> Вводим свои данные, e-mail, вводим номер долларового кошелька системы Perfect Money,
                                если у вас его еще нет, то переходим к регистрации на сайте www.perfectmoney.is . Если же вы
                                уже имеете кошелек, то переходим к шагу 3.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 2.</b> Вводим данные для регистрации нового кошелька. Проверяем почту указанную при
                                регистрации. Вводим полученный от Perfect money ID* номер из письма, пароль и входим в
                                систему Perfect Money.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 3.</b> Переходим к настройке системы, нажав на кнопку «Настройки» в правом углу. Под пунктом
                                «Безопасность» нажимаем кнопку «Изменить параметры безопасности».
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 4.</b> Листаем страницу в самый низ, и в поле API* наживаем кнопку «Включить» и кнопку
                                «Редактировать». В поле IP маска вводим следующие символы « *.*.*.* », вводим код с
                                изображения и жмем «Сохранить». Поздравляем, вы успешно завершили настройку для работы с
                                Easy To Invest.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 5.</b> В меню «Ввод» пополняем любым удобным для вас способом, ваш долларовый кошелек* ( в
                                формате U1234567). Одним из самых быстрых и дешевых является обмен Perfect money USD через
                                обменные пункты-партнеры.
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 6.</b> Пополнив кошелек, возвращаемся на страницу регистрации Easy To Invest, вводим кошелек
                                в нужное поле и подтвердив e-mail, входим в личный кабинет Easy To Invest
                            </p>
                        </li>
                        <li>
                            <p style="font-size: 14px; text-align: left;">
                                <b>Шаг 7.</b> Переходим в меню «Баланс», выбираем «Пополнить баланс», вводим Perfect money ID,
                                пароль от Perfect Money и сумму 21 доллар. Нажимаем «Активировать Аккаунт».
                                Поздравляем, Вы успешно прошли регистрацию и активацию в системе Easy To Invest!
                                Вы внесете огромный вклад в развитие компании и получения вашего дохода, рассказав о нас в соц. сетях
                                с помощью кнопок в левом нижнем углу.
                            </p>
                        </li>
                        <li>*Perfect Money ID – уникальный номер вашего аккаунта, высланный вам на почту системой Perfect Money</li>
                        <li>*API – программный интерфейс, настройка его необходима для нормальной работы систем</li>
                        <li>*долларовый кошелек – кошелек с номером после буквы «U» например U1234321</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block page %}

{% endblock %}

{% block JavaScripts %}
    {{ parent() }}
    <script>
        $('.password').tooltip({'trigger':'focus', 'title': 'Длина: 5-30, доступные символы: A-Z a-z 0-9 _-!@#$%^&()'});
        $('.perfectmoney').tooltip({'trigger':'focus', 'title': 'Формат: U1234567'});
        $('.name').tooltip({'trigger':'focus', 'title': 'Длина: 2-25, доступные символы: A-Z А-Я a-z а-я'});
        $('.username').tooltip({'trigger':'focus', 'title': 'Длина: 3-16, доступные символы: A-Z a-z 0-9 _-*!#$%^&*()@'});
        $('.email').tooltip({'trigger':'focus', 'title': 'Пример: example@gmail.com'});
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60466877-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter28895565 = new Ya.Metrika({id:28895565,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/28895565" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- KISSmetrics tracking snippet -->
    <script type="text/javascript">var kmq = kmq || [];
        var kmk = kmk || '02a21239ef1c2d8cc469fc0b05ff0d504a1628ae';
        function _kms(u){
            setTimeout(function(){
                var d = document, f = d.getElementsByTagName('script')[0],
                        s = d.createElement('script');
                s.type = 'text/javascript'; s.async = true; s.src = u;
                f.parentNode.insertBefore(s, f);
            }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');
        kms('//doug1izaerwt3.cloudfront.net/' + kmk + '.1.js');
    </script>
{% endblock %}